/* Rapikan pilihan isian, rasa, jumlah */
@media screen and (max-width: 480px) {
    .options {
        grid-template-columns: auto 1fr;
        gap: 6px 8px;
    }
}
/* Label rata kiri & konsisten */
.options label {
    font-size: 14px;
    text-align: left;
    white-space: nowrap;
}

/* Select & input full rapi */
.options select,
.options input {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;

}

